<h2 class="content-subhead">User List</h2>
<div class="pure-menu">
	<ul class="pure-menu-list">
		<% @names.each do |name| %>
			<li>
      <a href="/<%= name %>">
				<%= name.to_s %>
        </a>
			</li>
		<% end %>
	</ul>
</div>
